$color-purple: purple;
$color-white: #ffff;
$color-dark-purple: #9A0FAB;
.text-purple{
  color: $color-purple;
}

.text-white{
  color: $color-white;
}
.background-color{
  background-color: $color-purple;
}

