$color-purple: purple;
$color-white:#ffff;
$color-dark-purple: #9A0FAB;

.container-product{
  margin-top: 0%;
  padding-top: 0;
  padding: 5%;
  .list-group{
      list-style: none!important;
  }
  .list-group-item{
      font-size: 25px;
      border-bottom: 1px solid $color-dark-purple !important;
      display: flex;
      h4{
        margin-top: 0.5%;
        color:$color-purple;
      }

      .add-product{

          text-decoration: none;
          color: $color-white;
          border: 1px solid $color-dark-purple;
          border-radius:50%;
          padding: 5px;
          padding-left: 12px;
          padding-right: 12px;
          padding-top: 2px;
          background-color: $color-purple;
          margin-right: 1%;


      }


      .img-product{
          padding: 0;
          margin: 0;
          width: 8%;
          height: 120px;
          background-size: cover;
          margin-right: 2%;
          &__img{
            width: 100%;
          }
      }
      .title-product{
              display: absolute;
              width: 40%;
              h4{
              padding-top: 5%;
              margin-left: 1%;
              width: 10%;
              margin-right: 0;
              text-align: left;
              color: $color-purple;
              }

      }
      .text-container{

          width: 30%;
          color: $color-purple;

  }
  .icons-container{

      width: 40%;
      text-align: right;
      i{
          margin-right: 8%;
          margin-top: 8%;
          color: $color-purple;
      }
  }


  }

}
